body {
    background: radial-gradient(circle, #3498db, #2ecc71);
    height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    border: 3px solid #000;
    background-color: white;
    border-radius: 10px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 4em;
}

form {
    margin: 2% auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

label {
    color: #000;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 1.5em;
    width: 50%;
    height: 0.1em;
    padding: 1em;
    margin-left: 22%;
}

.input-group {
    margin-bottom: 15px;
}


input.enviar {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 6em;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.enviar {
    margin-left: 35%;
    font-weight: 700;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    
}
input.enviar:hover {
    opacity: 0.5;
}

.sair {
    color: #5ab8ff;
    font-size: 2em;
    margin: 20px;
    margin-left: 280px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

.sair:hover {
    background: #24a148;
}

#resultado {
    color: white;
    font-size: 1.6em;
    background-color: #333; /* Fundo cinza escuro */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    margin-top: 20px; /* Espaço superior */
}
